node_modules/
dist/
database/*.db
.env
.pi-lens/
storage/logs/*.log
storage/logs/.repl_history
storage/sessions/sess_*
storage/cache/*
!storage/cache/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
